.sectionWrap{
  margin: 2% 0 0;
}

.imgContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentImage{
  width: 30%;
  height: auto;
}

.contentContainer{
  margin-top: -60px;
  position: relative;
  background-color: var(--primary-color);
  width: 65%;
  border-radius: 50px;
}

.vectorImage{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.3;

  z-index: 1;
}

.contentContainer h1{
  position: relative;
  z-index: 2;

  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  color: #fff;
}

.mainFooter{
  margin-top: 5%;
  padding: 5% 0 3%;
  background-color: var(--background-black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



.mainFooter h5{
  font-size: 13.76px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  color: #FFFFFF6e;
}

.mainFooter h1{
  margin: 0;
  font-size: 48px;
  color: #fff;
}

.mainFooter p{
  margin: 0;
  font-size: 17.69px;
  color: #FFFFFF8e;
}

.mainFooter .btn-wrap{
  margin: 2.5% 1.5%;
}

.rights{
  font-size: 13.76px;
  color: #FFFFFF8e;
}

.onlyBorder{
  margin: 2% 0 1.5%;

  width: 55%;
  height: 1px;
  border-bottom: 2px solid #FFFFFF4e;
  ;
}

.linksWrap{
  width: 65%;
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  justify-content: space-between;
}

.logoContainer{
  display: flex;
  gap: inherit;
}

.footerLogo{
  width: auto;
  height: 60px;
}

.pageLinks{
  display: flex;
  gap: 2rem;
  font-size: 16px;
}

.pageLinks a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15.75;
}

.socialMedia{
  display: flex;
  gap: 2rem;
}

.socialMedia span{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;

  padding: 10px;
  border: 2px solid #FFFFFF3e;
  border-radius: 50%;
}